<div class="header">
    <h1 class="page-header">项目列表</h1>
  <button class="btn btn-outline-info"
          placement="bottom" ngbTooltip="重新编译国际化文件"
          (click)="build()">编译 i18n</button>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th width="200px">项目名称</th>
            <th>项目描述</th>
            <th width="140px"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of projects">
            <td>{{p.name}}
            </td>
            <td>{{p.desc}}</td>
            <td>
              <a routerLinkActive="active" routerLink="./{{p.name}}/module"
                 placement="left" ngbTooltip="查看 [{{p.name}}] 下的modules">模块</a>
              <a *ngIf="p.refreshUrl" [href]="p.refreshUrl" target="_blank"
                 placement="bottom" ngbTooltip="刷新[{{p.name}}]的国际化">适用 i18n</a>
            </td>
        </tr>
    </tbody>
</table>
