.header{
  position: relative;
  .btn{
    position: absolute;
    right:0;
    bottom: 0;
  }
}

.list-group-item{
  position: relative;
  padding-right: 76px;
  label{
    position: absolute;
    left:10px;
    width: 60px;
    text-align: right;
  }
  textarea{
    height: 40px;
    margin-left: 66px;
    font-size: 14px;
    &:focus{
      height: 120px;
    }
  }

}


